<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-feature
        android:name="android.hardware.camera"
        android:required="false" />

    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.CAMERA" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/icon_coloured"
        android:label="@string/app_name"
        android:roundIcon="@drawable/icon_coloured"
        android:supportsRtl="true"
        android:theme="@style/AppTheme.NoActionBar"
        android:usesCleartextTraffic="true">
        <activity
            android:name=".Preferance"
            android:exported="false"
            android:theme="@style/addDeviceStyle"/>
        <activity
            android:name=".LightActivity"
            android:exported="false"
            android:theme="@style/addDeviceStyle" />
        <activity
            android:name=".GenerateReportActivity"
            android:exported="false"
            android:theme="@style/addDeviceStyle" />
        <!--
             TODO: Before you run your application, you need a Google Maps API key.

             To get one, follow the directions here:

                https://developers.google.com/maps/documentation/android-sdk/get-api-key

             Once you have your API key (it starts with "AIza"), define a new property in your
             project's local.properties file (e.g. MAPS_API_KEY=Aiza...), and replace the
             "YOUR_API_KEY" string in this file with "${MAPS_API_KEY}".
        -->
        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="YOUR_API_KEY" />

        <activity
            android:name=".SettingsActivity"
            android:screenOrientation="unspecified"
            android:theme="@style/addDeviceStyle" />
        <activity
            android:name=".UserActivity"
            android:screenOrientation="unspecified"
            android:theme="@style/addDeviceStyle" />
        <activity
            android:name=".ConfigureWiFiActivity"
            android:screenOrientation="unspecified"
            android:theme="@style/addDeviceStyle" />
        <activity
            android:name=".AnalysisActivity"
            android:screenOrientation="landscape" />
        <activity
            android:name=".AddDeviceActivity"
            android:screenOrientation="unspecified"
            android:theme="@style/addDeviceStyle" />
        <activity
            android:name=".MainActivity"
            android:screenOrientation="unspecified" />
        <activity
            android:name=".NavigationActivity"
            android:exported="true"
            android:screenOrientation="unspecified"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>